/problema1/Terreno/nbproject/private/
/problema1/Terreno/build/
/problema2/Ejecutor/nbproject/private/
/problema2/Ejecutor/build/
/problema3/InstitucionEducativa/nbproject/private/
/problema3/InstitucionEducativa/build/
/problema3/EquipoCelulares/nbproject/private/
/problema3/EquipoCelulares/build/
